<!DOCTYPE html>
<html>
<head>
  <title>GBA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to 'GBA Navagation', root_path, :class => 'brand' %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class = "nav">
        	<li>
        		<%= link_to 'Homework', pics_path %>
        	</li>
        	<li>
        		<%= link_to 'New', new_pic_path %>
        	</li>	
          <li>
            <%= link_to 'Campus Group', 'https://tepper.campusgroups.com/login' %>
          </li> 
          <li>
            <%= link_to 'Simplicity', 'https://tepper-csm.symplicity.com/students/' %>
          </li> 
          <li>
            <%= link_to 'Black Board', 'https://login.cmu.edu/idp/Authn/Stateless' %>
          </li> 
          <li>
            <%= link_to 'Couses Related', 'https://student-4k.tepper.cmu.edu/student/' %>
          </li> 
          <li>
            <%= link_to 'SIO', 'https://login.cmu.edu/idp/Authn/Stateless' %>
          </li> 
        </ul>
      </div>
 
    </div>
  </div>
</div>	

<%= yield %>

</body>
</html>
